a{
    text-decoration: none;
    color: black;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.left-sidebar{
    position: fixed;
    width: 30%;
    margin-top: -2px;
    margin-left: 13px;
    float: left;
    
}
.left-sidebar .logo img{
    width: 24%;
    background: transparent;
}
.shortcut-links{
    margin-top: 23px;
    margin-left: 1px;
    
}
.flex-div{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.shortcut-links img{
    width: 6%;
    margin-right: 15px;
    
}
.profile img{
    border-radius: 50%;
    width: 27px;
}
.left-sidebar .more-options{
    position: fixed;
    bottom: 17px;
    margin-left: -5px;
    
}
.left-sidebar .more-options img{
    width: 7%;
    margin-right: 5px;
}
.vl {
    border-left: 1px solid #DEDEDE;
    height: 100%;
    position: fixed;
    left: 16%;
    margin-left: -3px;
    top: 0;
  }
  
/* ---------------------------------body----------------------------- */
.body{
    float: left;
    margin-top: 5px;
    width: 31%;
    padding-left: 30%;
}
.body .stories{
    width: 100%;
}
.body .stories img{
    border-radius: 50%;
    width: 75%;
    margin-right: 15px;
    margin-bottom: -10px;
    border: 3px solid;
    border-color: #c62d8f;
}
.body .stories p{
    font-size: 12px;
}
.main-body .top-div .top-left img{
    width: 35px;
    border-radius: 50%;
    margin-top: 15px;
}
.main-body img{
    margin-top: -5px;
    width: 100%;
}
.main-body .top-div .top-left p{
    font-size: 15px;
}
.main-body .top-center{
    margin-left:15px;
}
.main-body .location{
    margin-left: 51px;
    margin-top: -33px;
    font-size: 13px;
}
.main-body .top-center p{
    /* margin-top: -28px; */

    font-size: 13px;
}
.user-name{
    font-weight: 500;
}
.main-body .date{
    color: #aea9ac;
}
.main-body .top-div .top-right img{
    width: 18px;
}
.main-body .top-div .top-right{
    margin-left: auto;
}
.main-body .interactive-area {
    margin-top: 10px;
}
.main-body .interactive-area .interactive-left img{
    width: 25px;
    margin-right: 10px;
}
.main-body .interactive-area .interactive-right{
    width: 25px;
    margin-left: auto;
}
.main-body .likes-comments p{
    margin: 3px;
    font-size: 14px;
}
.main-body .likes-comments .hashtags{
    color: #0000ff;
}
.main-body input{
    width: 100%;
    line-height: 3em;
    border:none;
    border-bottom: 1px solid #DEDEDE;
    position: relative;
    display: inline-block;
}
.main-body input:focus{
    outline: none;
}
.main-body .emoji {
    align-items: right;
    font-size: 20px; 
    color: #6e6b6b;
    pointer-events: none;
  }
  .main-body .post{
    margin-bottom: 5px;
  }
  /* ------------------------------------right-sidebar--------------------------------- */
  .right-sidebar{
    padding-left: 65%;
    
  }
  .right-sidebar .profile{
    margin-top: 50px;
  }
  .right-sidebar .user-dp img{
    
    width: 75%;
  }
  .user-dp{
    width: 15%;
  }
  .user-details{

    width: 35%;
  }
  .switch-account{

    width: 20%;
  }
  .right-sidebar .user-account{
    margin-bottom: -15px;
  }
  .right-sidebar .user-details .name{
    color: #aea9ac;
    font-size: 15px;
  }
  .right-sidebar .switch-account p{
    font-size: 13px;
    color: rgb(0, 149, 246);
    font-weight: 500;
  }
  .suggestions{
    width: 60%;
  }
  .right-sidebar .suggested-accounts{
    justify-content: space-between;
    font-weight: 500;
    color: rgb( 142, 142, 142);
  }
  .right-sidebar .suggested-accounts .see-all{
    font-size: 13px;
    color:black
  }
  .right-sidebar .suggestions .profile .user-details{
    
    width: 75%;
  }
  .right-sidebar .suggestions .profile .user-details p{
    font-size: 13px;
  }
  .suggestions .profile{
    margin-top: -13px;
    
  }
  .right-sidebar .suggestions .switch-account{
    margin-left: auto;
    text-align: right;
  }
  .nav-links{
    width: 60%;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    
  }
  .nav-links a{
    color: #d0ccce;
  }
  .copyright p{
    margin-top: 30px;
    font-size: 12px;
    color: #d0ccce;
  }